<!DOCTYPE>
 <meta charset="UTF-8">
 <html>
     <head>

     </head>
     <body>
         <h1>Info about person</h1>
         <p>Person's  <%= firstname %></p>
         <p>Person's <%= lastname %></p>
         <p>Person's <%= age %></p>
     </body>
 </html>